@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: 'Sarabun', sans-serif;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $clr-green;
    font-family: 'Sarabun', sans-serif;

    @include mq(md) {
        font-size: 14px;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Forum', serif;
}

h1 {
    font-size: 65px;
    color: $clr-creme;

    @include mq(sm) {
        font-size: 50px;
    }
}

h2 {
    font-size: 55px;
    line-height: normal;
    color: $clr-green;
}

h3 {
    font-size: 21px;
    line-height: normal;
    color: $clr-green;
}

span {
    color: $clr-orange;
    display: block;
}